# ------ Configuration for Server Health Monitor ------ #

# Set the thresholds (as percentage)
# Example: If disk usage is ABOVE this value, send an alert.
DISK_USAGE_THRESHOLD=60
MEMORY_USAGE_THRESHOLD=80
CPU_LOAD_THRESHOLD=75

# Set the log file path
LOG_FILE="./server_monitor.log"
# Note: you might need sudo permissions to write to /var/log.
# For easier testing you can use a locallog file first:
# LOG_FILE="./server_monitor.log"

# --- For Notification Method (ntfy.sh) ---
# This is your secret notification channel 
NTFY_TOPIC="your_secret_topic_name_here" 
